@keyframes cube-spin {
  0% {
    transform: rotateX(-45deg) rotateY(405deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(-45deg) rotateY(45deg) rotateZ(0deg);
  }
}

.cube-spin {
  animation: cube-spin 10s linear infinite;
}
